.App-container {
  height: 100%;
}

.App-header {
  background-color: #222;
  padding: 40px;
  color: white;
  text-align: center;
}

.App-search-wrapper {
  position: relative;
  display: inline-block;
  width: 40%;
}

@media (max-width: 670px) {
  .App-search-wrapper {
    width: 100%;
  }
}

.App-search {
  line-height: 32px;
  outline: none;
  padding: 0;
  padding-left: 5px;
  font-size: 24px;
  border: none;
  width: 100%;
  margin-top: 10px;
}

.App-button {
  outline: none;
  border: none;
  background: #4c8dff;
  color: #fff;
  height: 32px;
  vertical-align: bottom;
  font-weight: bold;
  cursor: pointer;
}

.App-container {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}