.autocomplete {
	position: absolute;
    top: 0;
    left: 0;
    background: #444;
    max-height: 350px;
    padding: 0;
    width: 100%;
    padding-left: 5px;
    margin: 0;
    margin-top: 42px;
    list-style-type: none;
    overflow-y: auto;
}

.autocomplete > li {
    cursor: pointer;
}

.autocomplete > li:hover {
    background: #5E5E5E;
}

.autocomplete > li > a {
	padding: 10px 0;
    display: block;
    text-decoration: none;
    color: #fff;
}