.results-wrapper {
	width: 85%;
	margin: 15px auto;
}

.results {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #aaa;
}

.results > thead > tr > th {
	background: #ccc;
	padding: 10px 5px;
	text-align: left;
}

.results > tbody > tr > td {
	padding: 10px 5px;
}

.results > tbody > tr:nth-child(even) {
	background: #eee;
}

.pagination {
	text-align: center;
}

.results-status {
	display: inline-block;
	margin-left: 10px;
}